/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
*.opensdf
*.tlog
*.log
.vs
/.vs/
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/Logs
/content
/dotcore/prototypes/Gateway/ResourcesAPI/images/Penguins.jpg
/dotcore/prototypes/Gateway/ResourcesAPI/images/Desert.jpg
/dotcore/prototypes/Gateway/ResourcesAPI/images/Chrysanthemum.jpg
/dotcore/prototypes/Gateway/ResourcesAPI/images/access restriction.PNG
/dotcore/prototypes/Gateway/ResourcesAPI/images
/dotcore/prototypes/Gateway/PresentationsAPI/Logs
/dotcore/prototypes/Gateway/ResourcesAPI/Logs
/dotcore/prototypes/Gateway.7z
/dotcore/prototypes/Gateway/AgentService/Luminator.Jasper.Agent/Agent.ConsoleHost
/dotcore/prototypes/Gateway/AgentService(Old)/Luminator.Jasper.Agent
dotcore/prototypes/Gateway/LtgGateway/LtgGateway.csproj.bak
dotcore/prototypes/Gateway/LtgGateway/Startup.cs.bak

polymer/granite-jasper-ui/build/
polymer/granite-jasper-ui/node_modules/
.vscode
.DS_Store
polymer/granite-jasper-ui/test/integration/screenshots-current/
polymer/granite-jasper-ui/_site/
polymer/granite-jasper-ui/.firebase/